@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "graphik";
  src: url(assets/fonts/Graphik-600-Semibold.otf);
}

.swiper-pagination {
  bottom: 0 !important;
  opacity: 100% !important;
  z-index: 20 !important;
}

.swiper-pagination-bullet-active {
  opacity: 100% !important;
}