@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "graphik";
  src: url(assets/fonts/Graphik-600-Semibold.otf);
}
.leading-128 {
  line-height: 128%;
}
.footerLineGradient {
  background: linear-gradient(90deg,#f6f3fb 0%,#0c0c0c 51.5%,#f6f3fb 100%);
}
