@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "graphik";
  src: url(assets/fonts/Graphik-600-Semibold.otf);
}

.partners_slider_track {
  animation: scroll 20s linear infinite;
}
.partners_slider_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translatey(0);
  }

  100% {
    transform: translatey(calc(-420px * 6));
  }
}
